div {
    font-family: Tahoma, Times, sans-serif;
	font-size: 16px;
    }
.nav > input[type=text] {
    height: 20px;
    width: 150px;
    margin-top: 15px;
    margin-right: 20px;
    padding-right: 50px;
    background: url(http://upload.wikimedia.org/wikipedia/commons/1/15/Magnifying_Glass_Photo.jpg) no-repeat 118px center;
    background-size: 25px 20px;
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
}
.container-fluid {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.panel-heading {
    position: relative;
}
.panel-heading > .panel-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

#liner1 {
  background-color: #edeff2;
  background-position: center;
  height: 50px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    #liner1 h1 {
        font-size: 25px;
        font-style: bold;
        color: black;
    }
#liner2 {
  background-color: #edeff2;
  background-position: center;
  height: 50px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    #liner2 h1 {
        font-size: 25px;
        font-style: bold;
        color: black;
    }
#liner3 {
      background-color: #edeff2;
      background-position: center;
      height: 50px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #liner3 h1 {
            font-size: 25px;
            font-style: bold;
            color: black;
        }
#liner4 {
      background-color: #edeff2;
      background-position: center;
      height: 50px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
            }
.brez-obrobe {
    border: none;
}
